In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('estimated_crimes_1979_2018.csv')
df.rename(columns={'state_abbr':'State'}, inplace=True)
df = df.fillna(0)
df = df.drop(['caveats','rape_legacy'],axis=1)
df.head()

,year,State,population,violent_crime,homicide,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft
0,1979,0,220099000,1208030,21460,0.0,480700,629480,11041500,3327700,6601000,1112800
1,1980,0,225349264,1344520,23040,0.0,565840,672650,12063700,3795200,7136900,1131700
2,1981,0,229465714,1361820,22520,0.0,592910,663900,12061900,3779700,7194400,1087800
3,1982,0,231664458,1322390,21010,0.0,553130,669480,11652000,3447100,7142500,1062400
4,1983,0,233791994,1258087,19308,0.0,506567,653294,10850543,3129851,6712759,1007933

In [3]:
# Change State=0 to all
df["State"]= df["State"].replace(0, "All")

In [4]:
#Add Total Crime
df['Total']= df.iloc[:, -9:].sum(axis=1)
df.head()

,year,State,population,violent_crime,homicide,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,Total
0,1979,All,220099000,1208030,21460,0.0,480700,629480,11041500,3327700,6601000,1112800,24422670.0
1,1980,All,225349264,1344520,23040,0.0,565840,672650,12063700,3795200,7136900,1131700,26733550.0
2,1981,All,229465714,1361820,22520,0.0,592910,663900,12061900,3779700,7194400,1087800,26764950.0
3,1982,All,231664458,1322390,21010,0.0,553130,669480,11652000,3447100,7142500,1062400,25870010.0
4,1983,All,233791994,1258087,19308,0.0,506567,653294,10850543,3129851,6712759,1007933,24138342.0

In [5]:
#Subsetting each year
Data_2016 = df.loc[(df.year == 2016),]
Data_2017 = df.loc[(df.year == 2017),]
Data_2018 = df.loc[(df.year == 2018),]

In [6]:
Data_2016.head()

,year,State,population,violent_crime,homicide,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,Total
37,2016,All,323405935,1285606,17413,132414.0,332797,802982,7928530,1516405,5644835,767290,18428272.0
75,2016,AK,741522,5966,52,1053.0,850,4011,24876,4053,17766,3057,61684.0
115,2016,AL,4860545,25878,407,1915.0,4687,18869,143259,34045,97498,11716,338274.0
155,2016,AR,2988231,16563,217,2214.0,2125,12007,98092,23814,67091,7187,229310.0
195,2016,AZ,6908642,32542,389,3304.0,7045,21804,207317,38216,150618,18483,479718.0

In [7]:
Data = pd.concat([Data_2016,Data_2017,Data_2018], axis=0)
Data.shape

(156, 13)

In [9]:
# Export as csv file
Data.to_csv('USCrime.csv', index = False)